@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap');
@media screen and (max-width: 600px){
.attention {
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  align-items :center !important;
  font-size: 4vw !important;
    
}
}
:root{
    --dark-color: white ;
    --dark-bg : #090606;
     --light-bg : white;
     --light-colot:black;
     --blue: #0850ec ;   
}
::-webkit-scrollbar {
    width: 5px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 198, 198); 
  }
body{
    background-color:var(--dark-bg); /* #072c30  */
    overflow-x: hidden;
    }
    .attention
    {
        width: 100vw;
        height: 1.3vw;
        background-color: var(--blue);
        margin: 0px;
        font-size: 1.1vw;
        text-align: center;
        font-family: "Rajdhani";
        font-weight: 600;
        color: white;
    }
    nav> ul > li 
    {
        list-style: none;
        display: inline;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5vw;
        
    }
    nav> ul > li > a
    {
        text-decoration: none;
        color:blue;
        padding: 10px;
        border-radius: 8px;
        transition: 0.3s;
    }
    li>a:hover{
        letter-spacing: 4px;
        color: #0088ff;
    }
    #logo
    {   width: 10vw;
        border-radius: 1vw;
        font-family: "Permanent Marker", cursive;
        font-size: 2vw;
        font-weight: 400;
        font-style: normal;
        color: rgb(56, 119, 255);
        height: 100% ;
        text-align: center;
        align-content: center;
        background:#072c30;
    }
    
    
    #socials{
        width: 15vw;  
        text-align: center;
        align-content: center;
        border-radius: 20px;
        height: 100% ;
        background:#072c30; 
    }
    .sub
    {
        color: #98aab9;
        text-align: center;
        font-size: 1.4rem;
        font-family: "Rajdhani", sans-serif;
        font-weight: 500;
        font-style: normal; ;
    }
    img {
        display: inline;
        height: 1.4vw;
    }
    *{
        margin: 0;padding: 0;
    }
    .container1
    {
        height: 140vh;
        display: flex;
        gap: 2vw;
        width: 90%;
        /* padding: 20px; */
        flex-direction: column;
    }
    .dice
    {
        height: 50%;
        display: flex;
       border: 1px groove #0088ff;
        border-radius: 20px;
        flex-direction: row;
    }
    .about
    {   
       display: flex;
       flex-direction: row;
       color: white;
        height: 100%;
        width: 50%;
        /* background: radial-gradient(#595bc4, #9198e5);; */
        border-radius: 20px;
    }

    .containerparent
    {   
        display: flex;
        justify-content: center;

    }
    .empty
{
    width: 10%;
}
.info > ul {
    list-style: none; /* Remove default list styling */
    padding-left: 20px; /* Adjust the padding to create space for the image */
}

.info > ul li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Space between image and text */
    width: 30px; /* Set the width of the image */
    height: 50px; /* Set the height of the image */
    background: url('media/temperature.png') no-repeat center center;
    background-size: contain; /* Resize the image to fit within the width and height */
}

    .info
    {
        width: 70%;
        align-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.3rem;
        
    }
    .diceinfo
    
    {
        width: 70%;
        align-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.3rem;
        
    }
    .diceinfo > ul {
        list-style: none; /* Remove default list styling */
        padding-left: 20px; /* Adjust the padding to create space for the image */
    }
    
    .diceinfo > ul li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; /* Space between image and text */
        width: 30px; /* Set the width of the image */
        height: 50px; /* Set the height of the image */
        background: url('media/dice-icon.png') no-repeat center center;
        background-size: contain; /* Resize the image to fit within the width and height */
    }
    .title
    { 
        width: 20%;
        border-radius: 20px;
        border-left: 2px solid rgb(176, 176, 53);
     writing-mode: vertical-lr;
     font-family: "Reddit Mono", monospace;
     font-size: 4rem;
     background: linear-gradient(to bottom, #0015ff ,#e12110,#0033ff, #0051ff,red);
     -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
     text-align: center;
     align-content: center;
     
    }
    #tempsite
    {
      background-color: #0088ff00; 
       padding: 0.8rem 2rem;
        color: white;
       border-radius: 8px;
       font-family: "Rajdhani";
       font-weight: 600;
       border: 2px solid var(--blue);
       font-size: 1.1rem;
       transition: 0.3s;
    }
    #tempsite:hover
    {
        background: linear-gradient(to right, #5673b1 ,#407bfa, #0051ff);
        box-shadow: 2px 2px yellow;
    }

    .linecontainer
    {
        height: 100%;
        width: 3px;
        display: flex;
        align-items: center;
    
    }
    .line1
    {
        background-color: white;
        width: 100%;
        height: 50%;
        border-radius:20px;
        display: inline;
        
    }
    .temp
    {
      height: 50%;
      display: flex;
     border: 1px groove #0088ff;
      border-radius: 20px;
      flex-direction: row;
    }

    .vid > video 
    {
        max-height: 90%;
        max-width: 100%;
        min-width: 75%;
        min-height: 80%;
        border-radius: 20px;
    }
    .vid{
        width: 50%;
        text-align: center;
        align-content: center;  
    }
    nav>ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .heading
    {  

        background: linear-gradient(to right, #ffffff, 
        #bb6429, #cf23cf, #eedd44); 
          -webkit-text-fill-color: transparent; 
          -webkit-background-clip: text; 
        font-family: "Reddit Mono", monospace;
        font-optical-sizing: auto;
        text-align: center; 
        padding-top: 90px;
        font-size: 5vw;
    }
    
    nav {
        width: 60%;
        border-radius: 20px;
        height: 100% ;
        background:#072c30;
    }
    #navbar{
        margin-top: 1vw;
        height: 7vh;   
        width: 100%;
        justify-content: space-around;
        display: flex;
    }
    #project
{
    color: #0088ff;
    letter-spacing: 4px;
}
    li{
        list-style-type:none;
    }
   
    #socials ul{
        height: 100%;
    display: flex;
    justify-content: space-evenly;
    
    }
    #line
    {
        background-color: white;
        width: 3px;
        height:30%;
        border-radius: 20px;
        transition: 0.1s ease-in;
    }
   #socials ul li 
   {
    align-items: center;
    align-content: center;
    height: 100%;
   }
.yt:hover
{    
    filter: invert(28%) sepia(100%) saturate(7463%) hue-rotate(357deg) brightness(96%) contrast(105%);
   
}
.github:hover {
    filter: invert(60%) sepia(20%) saturate(2000%) hue-rotate(200deg) brightness(95%) contrast(110%);
}
.instagram:hover {
    filter: invert(60%) sepia(20%) saturate(2000%) hue-rotate(200deg) brightness(95%) contrast(110%);
}

    